[submodule "src/tcc"]
        path = src/tcc
        url = https://github.com/jinyanghk/tinycc
[submodule "src/xv6"]
        path = src/xv6
        url = https://github.com/jinyanghk/xv6-i386
[submodule "src/musl"]
        path = src/musl
        url = https://github.com/jinyanghk/musl-tcc
